body {
  background-color: ;
}

.pacman {
  width: 0px;
  height: 0px;
  border-right: 60px solid transparent;
  border-top: 60px solid red;
  border-left: 60px solid red;
  border-bottom: 60px solid red;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;
}

.ghost {
  border-radius: 100% 100% 0 0;
  display: inline-block;
  height: 160px;
  margin: 20px;
  position: relative;
  width: 120px;
}

.inky {
  background-color: cyan;
}

.eyes {
  height: 60px;
  left: 50%;
  margin-left: -45px;
  position: absolute;
  width: 90px;
  top: 50px;
}

.eye {
  background: #fff;
  border-radius: 100%;
  height: 60px;
  width: 30px;
}

.iris {
  background: blue;
  border-radius: 100%;
  height: 40px;
  position: absolute;
  width: 20px;
  top: 10px;
}

.leftEye {
  float: left;
}
.leftEye .iris {
  left: 5px;
}

.rightEye {
  float: right;
}
.rightEye .iris {
  right: 5px;
}

.ghostTail{
    background-repeat: repeat-x;
    bottom: -20px;
    height: 20px;
    position: absolute;
    width: 120px;
  }

.inky .ghostTail {
  background: linear-gradient(-45deg, transparent 75%, cyan 75%) 0 50%,
    linear-gradient(45deg, transparent 75%, cyan 75%) 0 50%;
  background-size: 20px 20px, 20px 20px;
}


.space-invader {
  box-shadow: 0 0 0 1em red,
  0 1em 0 1em red,
  -2.5em 1.5em 0 .5em red,
  2.5em 1.5em 0 .5em red,
  -3em -3em 0 0 red,
  3em -3em 0 0 red,
  -2em -2em 0 0 red,
  2em -2em 0 0 red,
  -3em -1em 0 0 red,
  -2em -1em 0 0 red,
  2em -1em 0 0 red,
  3em -1em 0 0 red,
  -4em 0 0 0 red,
  -3em 0 0 0 red,
  3em 0 0 0 red,
  4em 0 0 0 red,
  -5em 1em 0 0 red,
  -4em 1em 0 0 red,
  4em 1em 0 0 red,
  5em 1em 0 0 red,
  -5em 2em 0 0 red,
  5em 2em 0 0 red,
  -5em 3em 0 0 red,
  -3em 3em 0 0 red,
  3em 3em 0 0 red,
  5em 3em 0 0 red,
  -2em 4em 0 0 red,
  -1em 4em 0 0 red,
  1em 4em 0 0 red,
  2em 4em 0 0 red;
  background: red;
  width: 1em;
  height: 1em;
  overflow: hidden;
  margin: 50px 0 70px 65px;
}


.banana {
  width:6em;
  height: 6em;
  background-color: transparent;
  box-shadow: -1.1em 1.1em 0 0 #fcd110;
  border-radius: 50%;
  position: absolute;
  top:-0.9em;
  left:1.6em;
}

.banana:before {
  content:"";
  width: 0.3em;
  height: 0.3em;
  transform: rotate(45deg);
  background-color: #937714;
  position: absolute;
  top: 5.4em;
  left:4.3em;
  z-index:1;
}

.banana:after {
  content: "";
  width: 0.4em;
  height: 0.8em;
  transform: rotate(31deg);
  background-color: #b3bb03;
  position: absolute;
  top:1.1em;
  left:0.2em;
  z-index:1;
}

.banana-line {
  width: 5.5em;
  height: 5.8em;
  background-color: transparent;
  box-shadow: -0.4em 0.4em 0 0 #ffe23c;
  border-radius: 50%;
  position: absolute;
  top:-0.7em;
  left:1.7em;
  transform: rotate(-4deg);
}

.item{
  font-size: 1.2rem;
  width: 8rem;
  height: 8rem;
  margin: 1rem;
  position: relative;
  display: inline-block;
}

.strawberry {
  width:5em;
  height: 5em;
  margin-top: 0.7em;
  background-color: #ed2607;
  border-radius: 50% 15% 50% 50%;
  transform: rotate(135deg);
  box-shadow: inset -.15em -.25em #C62106;
  position: absolute;
  left: 0.6em;
}

.strawberry:before{
  content:"";
	position:absolute;
	top:3.5em;
	left:2em;
	width:.3em;
	height:.3em;
	background-color:white;
	border-radius:50%;
 	box-shadow:1.7em 0 0 0 white, -1em -2.8em 0 0 white, 2.5em -1.5em 0 0 white,
  2em -2.5em 0 0 white, 0.75em -1.5em 0 0 white, -1em -1em 0 0 white, 0.8em -3.2em 0 0 white;
}

.leaf-up {
  position: absolute;
  width:0;
  height:0;
  border-bottom: 1.5em solid #539e3d;
  border-left: 1em solid transparent;
  border-right: 1em solid transparent;
  border-top: 0 solid transparent;
}

.strawberry-leaf-up{
  top: 0.3em;
  left: 2.3em;
}

.leaf-down {
  position: absolute;
  width:0;
  height:0;
  border-top: 1.5em solid #539e3d;
  border-left: 1em solid transparent;
  border-right: 1em solid transparent;
  border-bottom: 0 solid transparent;
}

.strawberry-leaf-down {
  top: 0.8em;
  left: 2.3em;
}

.cherry1 {
  top:3em;
  left:0.2em;
  transform: rotate(15deg);
}

.cherry2 {
 top:3em;
 left:3.4em;
 transform: rotate(-15deg);
}

.cherry1:before {
 content: "";
 width: 1em;
 height: 2.8em;
 background-color: transparent;
 box-shadow: .2em -.1em 0 0 #539e3d;
 border-radius: 50%;
 position: absolute;
 top: -2.6em;
 left: 1em;
 transform: rotate(19deg);
}

.cherry2:before {
 content: "";
 width: 1em;
 height: 2.8em;
 background-color: transparent;
 box-shadow: .2em -.1em 0 0 #539e3d;
 border-radius: 50%;
 position: absolute;
 top: -2.5em;
 left: 0.5em;
 transform: rotate(-12deg);
}

.cherry-join{
 width:0.7em;
 height: 0.4em;
 top: 0.6em;
 left: 3.1em;
 position: absolute;
 background-color: #724126;
 border-radius: 20%;
 transform: rotate(-12deg);
}

.apple {
  width:6em;
  height:5em;
  background-color:  #ff4355;
  box-shadow: inset 0.2em -0.2em  #cc1022;
  border-radius: 2em 2em 3em 3em;
  position:absolute;
  top: 1em;
  left:0.3em;
}

.apple:before {
  top:-.2em;
  left:1.8em;
  content:"";
  width:4.1em;
  height:2.75em;
  background-color: inherit;
  border-radius: 3em 3em 0 0 ;
  position: absolute;
  box-shadow:-1.5em 0 0   #ff4355, inset .2em 0.2em  #ff4355;
}

.apple:after{
  content:"";
  width: 0.2em;
  height: 1em;
  background-color:brown;
  position:absolute;
  z-index: 2;
  top: -0.5em;
  left: 3em;
}

